
/* full app view */
.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

a {
  color:black;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  align-items: center;
}

/* Left sidebar, which contains nav and watchlists */
.sidebarGrid {
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* Main view that displays stock info, news, etc */
.mainViewGrid {
  background-color: #f0f0f0;
  padding: 20px 40px;
}

.navbar {
  height: 20%;
  width: 100%;
  color: white;
}

.sidebar{
  height: 80%;
}

.sidebarNewsButton {
  display: flex;
  flex-direction: column;
}

.addWatchlist {
  display: flex;
  flex-direction: column;
}

.stock-input-form {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 7px;
}

.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px !important;
  color: white;
}

.nav-link, .menu-icon {
  padding: 7px;
}

.navbar .search-button, div .createUserButton {
  margin-top:10px;
}

.createAccountFormContainer {
  padding: 20px;
}

.createAccountForm .createUserFormField {
  padding: 7px;
}