
/* full app view */
.app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

/* Left sidebar, which contains nav and watchlists */
.sidebarGrid {
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 10%;
}

.sidebar{
  height: 90%;
}

.sidebarNewsButton {
  display: flex;
  flex-direction: column;
}

.addWatchlist {
  margin: 0 auto;
}

/* Main view that displays stock info, news, etc */
/* .mainViewGrid {

} */